.login-container {
    background: var(--card-bg);
    border-radius: 1rem;
    box-shadow: 0 0 3rem rgba(229,9,20,0.15);
    padding: 2rem;
    width: 30rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login-container h2 {
    margin-bottom: 2.5rem;
    color: var(--text-primary);
    font-weight: 600;
}

input {
    background: var(--input-bg);
    border: 1px solid #333;
    color: var(--text-primary);
    padding: 0.75rem;
    border-radius: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

input::placeholder {
    color: var(--text-secondary);
}

button {
    background: var(--primary-red);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
    transition: 0.15s;
}

button:hover {
    background: var(--accent-hover);
    box-shadow: 0 0 0.5rem var(--primary-red);
}

.footer-text {
    margin-top: 1rem;
    color: var(--text-secondary);
    font-size: 0.9rem;
}

.footer-text a {
    color: var(--primary-red);
    text-decoration: none;
    font-weight: 500;
}

.footer-text a:hover {
    text-decoration: underline;
}